<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collections List</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Collections List</h1>
    <table>
        <thead>
            <tr>
                <th>Collection Name</th>
                <th>Document Count</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
            <tr>
                <td><a href="/collections/{{ database }}/{{ collection.name }}">{{ collection.name }}</a></td>
                <td>{{ collection.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
