<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collections List</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Collections List</h1>
    <div class="button-container-col">
        <button class="crud-button create-button" onclick="document.getElementById('new-collection-form').style.display='block'">New Collection</button>
    </div>
    <div id="new-collection-form" style="display:none;">
        <form action="/create_collection/{{ database }}" method="POST">
            <label for="collection-name">Collection Name:</label>
            <input type="text" id="collection-name" name="collection_name" required>
            <button type="submit">Create new collection</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Collection Name</th>
                <th>Document Count</th>
                <th>Data Size</th>
                <th>Storage Size</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
            <tr>
                <td><a href="/collections/{{ database }}/{{ collection.name }}">{{ collection.name }}</a></td>
                <td>{{ collection.document_count }}</td>
                <td>{{ collection.data_size }}</td>
                <td>{{ collection.storage_size }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
