<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database List</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Database List</h1>
    <table>
        <thead>
            <tr>
                <th>Database Name</th>
                <th>Collections Count</th>
                <th>Data Size</th>
                <th>Storage Size</th>
            </tr>
        </thead>
        <tbody>
            {% for database in databases %}
            <tr>
                <td><a href="/collections/{{ database.name }}">{{ database.name }}</a></td>
                <td>{{ database.collections_count }}</td>
                <td>{{ database.data_size }}</td>
                <td>{{ database.storage_size }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
