<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Admin Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>MongoDB Admin Tool</h1>
    <button id="showDatabases">Show Databases</button>

    <script>
        document.getElementById('showDatabases').addEventListener('click', function() {
            window.location.href = '/databases';
        });
    </script>
</body>
</html>
