<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Last Executed Queries</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Last Executed Queries</h1>
    <table>
        <thead>
            <tr>
                <th>Query</th>
                <th>Execution Time</th>
            </tr>
        </thead>
        <tbody>
            {% for query in queries %}
            <tr>
                <td>{{ query.query }}</td>
                <td>{{ query.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
